.sidebar_links{
    padding-top: 20px;
}
.sidebar_links a{
    padding: 10px;
    display: block;
    padding-left: 20px;
}
.sidebar_links a:hover{
    color: white;
    background-color: #0A9F4D;
    border-radius: 10px;
}
@media screen and (max-width:520px) {
    .navBar .search_input{
        display: none;
    }
}